.body-class {
    margin: 0 80px;
    padding: 0 10px;
    height: 100vh;
    border-left: 2px solid rgb(126, 126, 126);
    border-right: 2px solid black;
    background-color: rgb(207, 207, 207);  
}

body {
    margin: 1px;
    background-color: rgb(238, 245, 100);
    border-top: 2px solid white; 
    border-left: 2px solid rgb(126, 126, 126); 
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
}

h1 {
    margin: 2px;
    display: inline-block;
    padding: 5px;
    border-top: 2px solid white; 
    border-left: 2px solid white; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
}

.box-decoration {
    padding: 2px 2px;
    border-top: 2px solid white; 
    border-left: 2px solid white; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
}

.header-titles h1:nth-child(2)
{
    padding: 0 5px;
}


.navigation {
    padding: 4px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
}

.box {
    display: inline-block;
    margin: 2px 0;
    width: 30px;
    height: 30px;
    border-top: 2px solid white; 
    border-left: 2px solid white; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
}

.sub-header-divider {
    margin: 2px 1px;
    width: 100vw - 10px;
    height: 1px;
    border-top: 2px solid rgb(195, 195, 195); 
    border-left: 2px solid rgb(195, 195, 195); 
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
}

/* INDIVIDUAL STAT BARS */
.stat-bar-hp {
    display: inline-block;
    width: 95px;
    height: 10px;
    background-color: tomato;
}
.stat-bar-atk {
    display: inline-block;
    width: 95px;
    height: 10px;
    background-color: orange;
}
.stat-bar-def {
    display: inline-block;
    width: 85px;
    height: 10px;
    background-color: rgb(255, 225, 0);
}
.stat-bar-spatk {
    display: inline-block;
    width: 125px;
    height: 10px;
    background-color: cornflowerblue;
}
.stat-bar-spdef {
    display: inline-block;
    width: 65px;
    height: 10px;
    background-color: rgb(145, 221, 69);
}
.stat-bar-spd {
    display: inline-block;
    width: 55px;
    height: 10px;
    background-color: rgb(220, 113, 147);
}

/* HEADER ICONS */
#footprint {
    position: absolute;
    top: 96px;
    left: 103px;
}

#footprint-button {
    position: absolute;
    color: transparent;
    background-color: transparent; border-color: transparent; cursor: default;
}

#player {
    position: absolute;
    top: 0;
    left: 950px;
}

#player-health-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 3px;
    background-color: greenyellow;
}

/* SPRITE IMAGE ABSOLUTE STYLES */

#sprite-base {
    position: absolute;
    top: 150px;
    left: 320px;    
}

